SERVICES['node']['monitoring'].update({
    'generic_bird-public': {
        'request': {
            'url': 'https://${PAVICS_FQDN_PUBLIC}${TWITCHER_PROTECTED_PATH}/weaver/providers/generic_bird?service=WPS&version=1.0.0&request=GetCapabilities'
        },
    },
    'generic_bird': {
        'request': {
            'url': 'http://generic_bird:5000/wps?service=WPS&version=1.0.0&request=GetCapabilities'
        }
    },
})

# vi: tabstop=8 expandtab shiftwidth=4 softtabstop=4 syntax=python
