services:
  jupyterhub:
    image: ${JUPYTERHUB_IMAGE}
    container_name: jupyterhub
    hostname: jupyterhub
    environment:
      JUPYTERHUB_DOCKER_NOTEBOOK_IMAGES: ${JUPYTERHUB_DOCKER_NOTEBOOK_IMAGES}
      JUPYTERHUB_IMAGE_SELECTION_NAMES: ${JUPYTERHUB_IMAGE_SELECTION_NAMES}
      DOCKER_NETWORK_NAME: jupyterhub_network
      JUPYTERHUB_USER_DATA_DIR: ${JUPYTERHUB_USER_DATA_DIR}
      WORKSPACE_DIR: ${JUPYTERHUB_USER_DATA_DIR}
      JUPYTERHUB_ADMIN_USERS: ${JUPYTERHUB_ADMIN_USERS}
      JUPYTER_DEMO_USER: ${JUPYTER_DEMO_USER}
      JUPYTER_DEMO_USER_MEM_LIMIT: ${JUPYTER_DEMO_USER_MEM_LIMIT}
      JUPYTER_DEMO_USER_CPU_LIMIT: ${JUPYTER_DEMO_USER_CPU_LIMIT}
      JUPYTER_GOOGLE_DRIVE_SETTINGS: ${JUPYTER_GOOGLE_DRIVE_SETTINGS}
      JUPYTERHUB_README: ${JUPYTERHUB_README}
      JUPYTERHUB_MOUNT_IMAGE_SPECIFIC_NOTEBOOKS: ${JUPYTERHUB_MOUNT_IMAGE_SPECIFIC_NOTEBOOKS}
      USER_WORKSPACE_UID: ${USER_WORKSPACE_UID}
      USER_WORKSPACE_GID: ${USER_WORKSPACE_GID}
      JUPYTERHUB_CRYPT_KEY: ${JUPYTERHUB_CRYPT_KEY}
      JUPYTERHUB_DOCKER_EXTRA_HOSTS: ${JUPYTERHUB_DOCKER_EXTRA_HOSTS:-}
    volumes:
      - ./components/jupyterhub/jupyterhub_config.py:/srv/jupyterhub/jupyterhub_config.py:ro
      - ./components/jupyterhub/custom_templates:/custom_templates:ro
      - ${JUPYTERHUB_USER_DATA_DIR}:${JUPYTERHUB_USER_DATA_DIR}
      - jupyterhub_data_persistence:/persist:rw
      - /var/run/docker.sock:/var/run/docker.sock:rw
    links:
      - magpie
    networks:
    # ensure Hub and Notebook servers are on the same network 'jupyterhub_network'
    # the Hub and the rest of the stack are on network 'default'
      - default
      - jupyterhub_network
    # ensure the deployment does not fail when upgrading Jupyterhub version
    command: bash -c "jupyterhub upgrade-db && jupyterhub"
    restart: always
    healthcheck:
      test: ["CMD", "curl", "--fail", "http://localhost:8000/jupyter"]
      interval: 60s
      timeout: 5s
      retries: 3
      start_period: 30s
      start_interval: 5s

# need external network so the folder name is not prefixed to network name
networks:
  jupyterhub_network:
    name: "jupyterhub_network"
    external: true

volumes:
  jupyterhub_data_persistence:
    name: jupyterhub_data_persistence
    external: true
