# The information here is from https://restic.readthedocs.io/en/stable/040_backup.html#environment-variables
# and applies to restic version 0.18.0. 

# For a quick start: this file can be copied to restic.env and one the usage examples below can be uncommented.
# It is highly recommended to change any default passwords used below as examples 

################################################
# Basic usage examples:
################################################

# Store backups in a repository located at the /tmp/backup directory on the same machine that runs birdhouse

#RESTIC_REPOSITORY=/tmp/backup
#RESTIC_PASSWORD=mysupersecretpassword

# Store backups in a repository located at the /tmp/backup directory on a different machine using SFTP to move data
# (NOTE: Backups over SFTP also require that you've set the BIRDHOUSE_BACKUP_SSH_KEY_DIR variable)

#RESTIC_REPOSITORY=sftp:user@otherhost:/tmp/backup
#RESTIC_PASSWORD=mysupersecretpassword
