# https://grafana.com/docs/grafana/latest/administration/provisioning/#example-datasource-config-file
apiVersion: 1

datasources:
  - name: Prometheus
    type: prometheus
    access: proxy
    uid: local_birdhouse_prometheus
    url: http://${BIRDHOUSE_FQDN}:9090
    isDefault: true
    editable: false
