PLATFORMS['server']['monitoring']['Project'] = {
    'request': {
        'url': 'https://${BIRDHOUSE_FQDN_PUBLIC}/project-api/explorer/'
    }
}
PLATFORMS['server']['stats']['route'] = '/project-api/.*'
