version: "3.4"
services:
  proxy:
    volumes:
    - ./deprecated-components/project-api/config/canarie-api/canarie_api_monitoring.py:${CANARIE_MONITORING_EXTRA_CONF_DIR}/project-api_canarie_api_monitoring.py:ro
