services:
  magpie:
    image: ${MAGPIE_IMAGE}
    container_name: magpie
    environment:
      TWITCHER_PROTECTED_URL: ${BIRDHOUSE_PROXY_SCHEME}://${BIRDHOUSE_FQDN_PUBLIC}${TWITCHER_PROTECTED_PATH}
      # target directories to allow loading multiple config files of corresponding category
      # each compose override should volume mount its files inside the matching directories
      # (note: DO NOT use 'MAGPIE_CONFIG_PATH' that would disable multi-config loading capability)
      MAGPIE_PROVIDERS_CONFIG_PATH: "${MAGPIE_PROVIDERS_CONFIG_PATH}"
      MAGPIE_PERMISSIONS_CONFIG_PATH: "${MAGPIE_PERMISSIONS_CONFIG_PATH}"
      MAGPIE_WEBHOOKS_CONFIG_PATH: "${MAGPIE_WEBHOOKS_CONFIG_PATH}"
      MAGPIE_POSTGRES_HOST: postgres-magpie
      MAGPIE_PORT: 2001
      FORWARDED_ALLOW_IPS: "*"
    env_file:
      - ./components/magpie/postgres-credentials.env
    depends_on:
      - postgres-magpie
    links:
      - postgres-magpie
    volumes:
      - ./components/magpie/postgres-credentials.env:/opt/local/src/magpie/env/postgres.env
      - ./components/magpie/providers.cfg:${MAGPIE_PROVIDERS_CONFIG_PATH}/providers.cfg
      - ./components/magpie/permissions.cfg:${MAGPIE_PERMISSIONS_CONFIG_PATH}/permissions.cfg
      - ./components/magpie/magpie.ini:/opt/local/src/magpie/config/magpie.ini
      - ${MAGPIE_NETWORK_PEM_DIR}:/magpie-pem
    restart: always
    healthcheck:
      test: ["CMD", "wget", "-qO-", "http://0.0.0.0:2001"]
      interval: 60s
      timeout: 5s
      retries: 3
      start_period: 30s
      start_interval: 5s

  postgres-magpie:
    image: ${MAGPIE_POSTGRES_IMAGE}
    container_name: postgres-magpie
    # ports:  # should not be exposed directly, enable 'optional-components/database-external-ports' as needed
    env_file:
      - ./components/magpie/postgres-credentials.env
    environment:
      PGDATA: /var/lib/postgresql/data/pgdata
    volumes:
      - ${MAGPIE_PERSIST_DIR}:/var/lib/postgresql/data/pgdata
      - ./components/magpie/docker-entrypoint-initdb.d:/docker-entrypoint-initdb.d
    restart: always
    healthcheck:
      test: ["CMD", "pg_isready"]
      interval: 60s
      timeout: 5s
      retries: 3
      start_period: 30s
      start_interval: 5s
