version: "3.4"

services:
  # extend magpie configuration with setup of weaver service and initial permissions
  magpie:
    volumes:
      # NOTE:
      #   Although file uses the "config.yml" format, it is very important to pass it as independent/duplicate reference
      #   provider/permissions config files. This is because 'MAGPIE_CONFIG_PATH' is not used to allow parsing multiple
      #   config files for each extendable service, using loading of all configuration files found in mount directories.
      - ./components/weaver/config/magpie/config.yml:${MAGPIE_PERMISSIONS_CONFIG_PATH}/weaver-permissions.yml:ro
      - ./components/weaver/config/magpie/config.yml:${MAGPIE_PROVIDERS_CONFIG_PATH}/weaver-providers.yml:ro

