SERVICES['node']['monitoring'].update({
    '${EMU_NAME}-public': {
        'request': {
            'url': 'https://${PAVICS_FQDN_PUBLIC}${TWITCHER_PROTECTED_PATH}/${EMU_NAME}?service=WPS&version=1.0.0&request=GetCapabilities'
        },
    },
    '${EMU_NAME}': {
        'request': {
            'url': 'http://emu:${EMU_INTERNAL_PORT}/wps?service=WPS&version=1.0.0&request=GetCapabilities'
        }
    },
})

# vi: tabstop=8 expandtab shiftwidth=4 softtabstop=4 syntax=python
