SERVICES['node']['monitoring'].update({
    'emu-public': {
        'request': {
            'url': 'https://${PAVICS_FQDN_PUBLIC}${TWITCHER_PROTECTED_PATH}/emu?service=WPS&version=1.0.0&request=GetCapabilities'
        },
    },
    'emu': {
        'request': {
            'url': 'http://emu:5000/wps?service=WPS&version=1.0.0&request=GetCapabilities'
        }
    },
})

# vi: tabstop=8 expandtab shiftwidth=4 softtabstop=4 syntax=python
