[bumpversion]
current_version = 1.22.2
commit = True
tag = False
tag_name = {new_version}
parse = (?P<major>\d+)\.(?P<minor>\d+)\.(?P<patch>\d+) (?P<releaseTime>.*)?
serialize = 
	{major}.{minor}.{patch}
	{utcnow:%Y-%m-%dT%H:%M:%SZ}

[bumpversion:file:CHANGES.md]
search = 
	[Unreleased](https://github.com/bird-house/birdhouse-deploy/tree/master) (latest)
	------------------------------------------------------------------------------------------------------------------
replace = 
	[Unreleased](https://github.com/bird-house/birdhouse-deploy/tree/master) (latest)
	------------------------------------------------------------------------------------------------------------------
	
	[//]: # (list changes here, using '-' for each new entry, remove this when items are added)
	
	[{new_version}](https://github.com/bird-house/birdhouse-deploy/tree/{new_version}) ({utcnow:%Y-%m-%d})
	------------------------------------------------------------------------------------------------------------------

[bumpversion:file:Makefile]
search = APP_VERSION := {current_version}
replace = APP_VERSION := {new_version}

[bumpversion:file:README.rst]
search = {current_version}
replace = {new_version}

[bumpversion:file:RELEASE.txt]
search = {current_version} 2022-09-19T22:12:31Z
replace = {new_version} {utcnow:%Y-%m-%dT%H:%M:%SZ}

[bumpversion:part:releaseTime]
values = 2022-09-19T22:12:31Z

[bumpversion:file(version):birdhouse/config/canarie-api/docker_configuration.py.template]
search = 'version': '{current_version}'
replace = 'version': '{new_version}'

[bumpversion:file(releaseTime):birdhouse/config/canarie-api/docker_configuration.py.template]
parse = 'releaseTime': '(?P<releaseTime>.*)'
serialize = {releaseTime}
replace = {utcnow:%Y-%m-%dT%H:%M:%SZ}

[bumpversion:file:docs/source/conf.py]
search = '{current_version}'
replace = '{new_version}'
