[bumpversion]
current_version = 1.19.1
commit = True
tag = False
tag_name = {new_version}

[bumpversion:file:CHANGES.md]
search = 
	[Unreleased](https://github.com/bird-house/birdhouse-deploy/tree/master) (latest)
	------------------------------------------------------------------------------------------------------------------
replace = 
	[Unreleased](https://github.com/bird-house/birdhouse-deploy/tree/master) (latest)
	------------------------------------------------------------------------------------------------------------------
	
	[//]: # (list changes here, using '-' for each new entry, remove this when items are added)
	
	[{new_version}](https://github.com/bird-house/birdhouse-deploy/tree/{new_version}) ({now:%Y-%m-%d})
	------------------------------------------------------------------------------------------------------------------

[bumpversion:file:README.rst]
search = {current_version}
replace = {new_version}
