version: "3.4"
services:
  proxy:
    volumes:
    - ./optional-components/testthredds/config/canarie-api/canarie_api_monitoring.py:${CANARIE_MONITORING_EXTRA_CONF_DIR}/testthredds_canarie_api_monitoring.py:ro
