{
    "name": "geoserver",
    "url": "https://${BIRDHOUSE_FQDN_PUBLIC}/geoserver",
    "type": "geoserver",
    "documentation": "https://docs.geoserver.org/",
    "description": "GeoServer is a server that allows users to view and edit geospatial data."
}