server {
    listen       443 ${PROXY_LISTEN_443_PARAMS};
    server_name  localhost;
    proxy_buffering off;

    resolver 127.0.0.11;

    ssl    on;
    ssl_certificate     /etc/nginx/cert.pem;
    ssl_certificate_key /etc/nginx/cert.pem;

    include /etc/nginx/conf.d/all-services.include;

    # redirect server error pages to the static page /50x.html
    error_page   500 502 503 504  /50x.html;
    location = /50x.html {
        root   /usr/share/nginx/html;
    }
}
