# Old paths. Keep these so that old config files remain uncommittable after updates.
postgres-magpie/
catalog/
frontend/
malleefowl/
ncops/
ncwms2/
project-api/
solr/
phoenix/
# moved to deprecated-components
flyingpigeon/
