- name: deploy_xclim_testdata_to_thredds
  comment: 'Auto-deploy Xclim testdata to Thredds for Finch and Xclim tutorial notebooks.'
  schedule: '${SCHEDULER_JOB_XCLIM_DEPLOY_DATA_JOB_SCHEDULE}'
  command: '/deploy-data ${COMPOSE_DIR}/deployment/deploy-data-xclim-testdata-to-thredds.yml'
  dockerargs: >-
    --rm --name deploy_xclim_testdata_to_thredds
    --volume /var/run/docker.sock:/var/run/docker.sock:ro
    --volume ${COMPOSE_DIR}/deployment/deploy-data:/deploy-data:ro
    --volume ${COMPOSE_DIR}/deployment/deploy-data-xclim-testdata-to-thredds.yml:${COMPOSE_DIR}/deployment/deploy-data-xclim-testdata-to-thredds.yml:ro
    --volume ${SCHEDULER_JOB_XCLIM_DEPLOY_DATA_JOB_CHECKOUT_CACHE}:${SCHEDULER_JOB_XCLIM_DEPLOY_DATA_JOB_CHECKOUT_CACHE}:rw
    --volume ${BIRDHOUSE_LOG_DIR}:${BIRDHOUSE_LOG_DIR}:rw
    --env DEPLOY_DATA_CHECKOUT_CACHE=${SCHEDULER_JOB_XCLIM_DEPLOY_DATA_JOB_CHECKOUT_CACHE}
    --env DEPLOY_DATA_LOGFILE=${SCHEDULER_JOB_XCLIM_DEPLOY_DATA_JOB_LOG_FILENAME} ${SCHEDULER_JOB_XCLIM_DEPLOY_EXTRA_DOCKER_ARGS}
  image: '${SCHEDULER_JOB_XCLIM_DEPLOY_DATA_JOB_IMAGE}'
