config/proxy/conf.extra-service.d/geoserver.conf
config/canarie-api/canarie_api_monitoring.py
config/magpie/providers.cfg

# Old paths. Keep these so that old config files remain uncommittable after updates.
geoserver_canarie_api_monitoring.py
geoserver-magpie-provider.cfg
config/proxy/canarie_api_monitoring.py
