{
    "name": "geoserver",
    "url": "https://${PAVICS_FQDN_PUBLIC}/geoserver",
    "type": ["data", "service-wms"],
    "documentation": "https://docs.geoserver.org/",
    "description": "GeoServer is a server that allows users to view and edit geospatial data."
}
