
x-logging:
  &default-logging
  driver: "json-file"
  options:
    max-size: "50m"
    max-file: "10"

services:
  proxy:
    image: ${PROXY_IMAGE}
    container_name: proxy
    ports:
      - "80:${PROXY_HTTP_PORT}"
    volumes:
      - ./components/proxy/conf.d:/etc/nginx/conf.d
      - ./components/proxy/nginx.conf:/etc/nginx/nginx.conf
      - ./components/proxy/static:/static
      - ./components/proxy/nginx-docker-entrypoint.d/launch_cron:/docker-entrypoint.d/launch_cron:ro
      - ./components/proxy/cron.d/logrotate:/etc/cron.d/logrotate:ro
    environment:
      # https://github.com/bird-house/birdhouse-deploy/issues/198
      REQUESTS_CA_BUNDLE: /etc/ssl/certs/ca-certificates.crt
    restart: always
    logging: *default-logging
    healthcheck:
      test: ["CMD", "curl", "--fail", "http://localhost"]
      interval: 60s
      timeout: 5s
      retries: 3
      start_period: 30s
      start_interval: 5s
