catalog.xml
threddsConfig.xml
config/proxy/conf.extra-service.d/thredds.conf
config/canarie-api/canarie_api_monitoring.py
service-config.json
config/magpie/providers.cfg

# Old paths. Keep these so that old config files remain uncommittable after updates.
config/proxy/canarie_api_monitoring.py
