catalog.xml
threddsConfig.xml
config/proxy/conf.extra-service.d/thredds.conf
config/proxy/conf.extra-service.d.bypasstwitcher/thredds_bypass_twitcher.conf
config/canarie-api/canarie_api_monitoring.py

# Old paths. Keep these so that old config files remain uncommittable after updates.
config/proxy/canarie_api_monitoring.py
