    location /${TESTTHREDDS_CONTEXT_ROOT}/ {
        # direct hit Thredds, bypassing Twitcher
        proxy_pass http://testthredds:${TESTTHREDDS_INTERNAL_PORT}/${TESTTHREDDS_CONTEXT_ROOT}/;
        proxy_set_header Host $host;
        proxy_set_header X-Forwarded-Proto $real_scheme;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    }
