    location /weaver {
        proxy_pass https://${PAVICS_FQDN_PUBLIC}${TWITCHER_PROTECTED_PATH}/weaver;
        proxy_set_header Host $host;
        proxy_buffering off;
        include /etc/nginx/conf.d/cors.include;
    }

    # location where process job outputs will be accessible
    #location ^~ ${WEAVER_WPS_OUTPUTS_PATH}/ {
    #    alias ${WEAVER_WPS_OUTPUTS_DIR}/;
    #}
