services:
  ncwms2:
    image: pavics/ncwms2:2.0.4
    container_name: ncwms2
    volumes:
      - ${BIRDHOUSE_DATA_PERSIST_ROOT}/datasets:/data
      - ./deprecated-components/ncwms2/custom.cfg:/opt/birdhouse/custom.cfg
      - ./deprecated-components/ncwms2/server.xml:/opt/birdhouse/eggs/birdhousebuilder.recipe.tomcat-0.2.9-py2.7.egg/birdhousebuilder/recipe/tomcat/server.xml
    restart: always
