    location /s3/ {
        auth_request /secure-s3-auth;
        auth_request_set $auth_status $upstream_status;
        proxy_pass http://s3:3000/;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
    }

    location = /secure-s3-auth {
        internal;
        proxy_pass ${BIRDHOUSE_PROXY_SCHEME}://${BIRDHOUSE_FQDN_PUBLIC}${TWITCHER_VERIFY_PATH}$request_uri;
        proxy_pass_request_body off;

        # cache auth requests so we don't overwhelm twitcher when a client is accessing multiple chunks
        # of the same file in parallel (for example).
        proxy_cache "s3_auth_cache";
        proxy_cache_key "$http_authorization:cache:$cookie_${MAGPIE_COOKIE_NAME}";
        proxy_cache_valid 200 401 403 1m;
        proxy_ignore_headers Cache-Control Expires Set-Cookie; 
        proxy_set_header Host $host;
        proxy_set_header Content-Length "";
        proxy_set_header X-Original-URI $request_uri;
        proxy_set_header X-Forwarded-Proto $real_scheme;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Host $host:$server_port;
    }
