version: "3.4"
services:
  proxy:
    volumes:
    - ./optional-components/generic_bird/config/proxy/canarie_api_monitoring.py:${CANARIE_MONITORING_EXTRA_CONF_DIR}/generic_bird_canarie_api_monitoring.py:ro
