- name: ${SCHEDULER_JOB_BACKUP_PREFIX}postgres
  comment: Backup database from the postgres service
  schedule: '${SCHEDULER_JOB_BACKUP_EXTRACT_FREQUENCY}'
  command: "${SCHEDULER_JOB_BIRDHOUSE_EXE_LOC} compose run --rm -v ${SCHEDULER_JOB_BACKUP_VOLUME}:/scheduler-backup postgres sh -c 'mkdir -p /scheduler-backup/postgres; PGPASSWORD=${POSTGRES_PASSWORD} pg_dump -h postgres -U ${POSTGRES_USER} -d ${POSTGRES_DB} > /scheduler-backup/postgres/postgres.dump'"
  dockerargs: >-
    --name ${SCHEDULER_JOB_BACKUP_PREFIX}postgres ${SCHEDULER_JOB_BACKUP_COMMON_ARGS}
  image: '${SCHEDULER_JOB_BACKUP_DOCKER_IMAGE}'
