- name: backup_canarie-api
  comment: Backup stateful data for canarie-api service
  schedule: '${SCHEDULER_JOB_BACKUP_EXTRACT_FREQUENCY}'
  command: "${SCHEDULER_JOB_BIRDHOUSE_EXE_LOC} compose run --rm -v ${SCHEDULER_JOB_BACKUP_VOLUME}:/scheduler-backup --entrypoint sh canarie-api -c 'cp -r /data /scheduler-backup/canarie-api'"
  dockerargs: >-
    --name backup_canarie-api ${SCHEDULER_JOB_BACKUP_COMMON_ARGS}
  image: '${SCHEDULER_JOB_BACKUP_DOCKER_IMAGE}'
