wps.cfg
postgres/credentials.env
config/proxy/canarie_api_monitoring.py
config/magpie/providers.cfg
config/magpie/permissions.cfg

# Old paths. Keep these so that old config files remain uncommittable after updates.
generic_bird-magpie-permission.cfg
generic_bird-magpie-provider.cfg
generic_bird_canarie_api_monitoring.py
