- name: ${SCHEDULER_JOB_BACKUP_PREFIX}weaver
  comment: Backup database from the weaver service
  schedule: '${SCHEDULER_JOB_BACKUP_EXTRACT_FREQUENCY}'
  command: "${SCHEDULER_JOB_BIRDHOUSE_EXE_LOC} compose run --rm -v ${SCHEDULER_JOB_BACKUP_VOLUME}:/scheduler-backup weaver-mongodb sh -c 'mongodump --host=weaver-mongodb --out=/scheduler-backup/weaver/'"
  dockerargs: >-
    --name ${SCHEDULER_JOB_BACKUP_PREFIX}weaver ${SCHEDULER_JOB_BACKUP_COMMON_ARGS}
  image: '${SCHEDULER_JOB_BACKUP_DOCKER_IMAGE}'
