version: "3.4"
services:
  magpie:
    volumes:
    - ./deprecated-components/catalog/config/magpie/providers.cfg:${MAGPIE_PROVIDERS_CONFIG_PATH}/catalog-providers.cfg:ro
    - ./deprecated-components/catalog/config/magpie/permissions.cfg:${MAGPIE_PERMISSIONS_CONFIG_PATH}/catalog-permissions.cfg:ro
