version: "3.4"
services:
  catalog:
    healthcheck:
      test:
        [
          "CMD",
          "python",
          "-c",
          "import requests; \
           assert requests.get('http://localhost?service=WPS&request=GetCapabilities').status_code == 200",
        ]
      interval: 60s
      timeout: 5s
      retries: 2
  finch:
    healthcheck:
      test:
        [
          "CMD",
          "curl",
          "--insecure",
          "--fail",
          "http://localhost:${HTTP_PORT}?service=WPS&request=GetCapabilities",
        ]
      interval: 60s
      timeout: 5s
      retries: 2
  flyingpigeon:
    healthcheck:
      test:
        [
          "CMD",
          "python",
          "-c",
          "import requests; \
           assert requests.get('http://localhost:8093?service=WPS&request=GetCapabilities').status_code == 200",
        ]
      interval: 60s
      timeout: 5s
      retries: 2
  hummingbird:
    healthcheck:
      test:
        [
          "CMD",
          "python",
          "-c",
          "import requests; \
           assert requests.get('http://localhost:8097/wps?service=WPS&request=GetCapabilities').status_code == 200",
        ]
      interval: 60s
      timeout: 5s
      retries: 2
  malleefowl:
    healthcheck:
      test:
        [
          "CMD",
          "curl",
          "--insecure",
          "--fail",
          "http://localhost:8091/wps?service=WPS&request=GetCapabilities",
        ]
      interval: 60s
      timeout: 5s
      retries: 2
  raven:
    healthcheck:
      test:
        [
          "CMD",
          "curl",
          "--insecure",
          "--fail",
          "http://localhost:9099?service=WPS&request=GetCapabilities",
        ]
      interval: 60s
      timeout: 5s
      retries: 2
