permissions:
  # note:
  #   following permissions can be combined with others such as 'optional-components/all-public-access'
  #   to provide access to 'everything' except those under 'secure' directories listed below

  # following permissions only enforce security on specific directories and files under it
  # these can be reverted or combined with other set of permissions on resources 'above' or 'under' in the hierarchy
  # users or groups will need explicit permissions under following resources for them to access sub-directories/files
  - service: thredds
    resource: /birdhouse/testdata/secure
    type: directory
    permission:
      name: browse
      access: deny
      scope: recursive
    group: anonymous
    action: create

  - service: thredds
    resource: /birdhouse/testdata/secure
    type: directory
    permission:
      name: read
      access: deny
      scope: recursive
    group: anonymous
    action: create

  - service: thredds
    resource: /birdhouse/testdata/secure
    type: directory
    permission:
      name: write
      access: deny
      scope: recursive
    group: anonymous
    action: create

  # Following permissions provide access to 'secure' directory nested under 'thredds' service to any user that is member
  # of 'thredds-secure-authtest-group'. This permission will take priority over 'anonymous' group above that gets denied
  # public access to 'secure' directory. Users that must be granted access to data under 'secure' should be added
  # to the group to inherit permissions.
  # The group is created dynamically if it doesn't already exist. User 'authtest' from 'create-magpie-authtest-user'
  # script when bootstrapping the instance for testing purpose.

  - service: thredds
    resource: /birdhouse/testdata/secure
    type: directory
    permission:
      name: browse
      access: allow
      scope: recursive
    group: thredds-secure-authtest-group
    action: create

  - service: thredds
    resource: /birdhouse/testdata/secure
    type: directory
    permission:
      name: read
      access: allow
      scope: recursive
    group: thredds-secure-authtest-group
    action: create

  - service: thredds
    resource: /birdhouse/testdata/secure
    type: directory
    permission:
      name: write
      access: allow
      scope: recursive
    group: thredds-secure-authtest-group
    action: create
