version: "3.4"
services:
  proxy:
    volumes:
    - ./optional-components/testthredds/conf.extra-service.d:/etc/nginx/conf.extra-service.d/testthredds:ro
    - ./optional-components/testthredds/testthredds_canarie_api_monitoring.py:${CANARIE_MONITORING_EXTRA_CONF_DIR}/testthredds_canarie_api_monitoring.py:ro
    links:
    - testthredds

  testthredds:
    image: ${TESTTHREDDS_IMAGE}
    container_name: testthredds
    ports:
      - "${TESTTHREDDS_PORT}:${TESTTHREDDS_INTERNAL_PORT}"
    env_file:
      - ./config/thredds/thredds.env
    environment:
      # for reconstructing proper URL back to user when Thredds behind proxy
      # because Twitcher eats the "Host" http header set by Nginx
      PAVICS_FQDN_PUBLIC: $PAVICS_FQDN_PUBLIC
      WANTED_CONTEXT_ROOT: $TESTTHREDDS_CONTEXT_ROOT
      WANTED_CONTEXT_ROOT_WARFILE_NAME: $TESTTHREDDS_WARFILE_NAME
    volumes:
      - testthredds_persistence:/usr/local/tomcat/content/thredds
      - testdatasets:/pavics-testdata:ro
      - ${DATA_PERSIST_ROOT}/datasets:/pavics-data:ro
      - ${DATA_PERSIST_ROOT}/ncml:/pavics-ncml:ro
      - testwps_outputs:/testwps_outputs:ro
      - wps_outputs:/pavics-data/wps_outputs:ro
      - ./optional-components/testthredds/catalog.xml:/usr/local/tomcat/content/thredds/catalog.xml:ro
      - ./config/thredds/threddsConfig.xml:/usr/local/tomcat/content/thredds/threddsConfig.xml:ro
      - ./config/thredds/wmsConfig.xml:/usr/local/tomcat/content/thredds/wmsConfig.xml:ro
      - ./config/thredds/entrypointwrapper:/entrypointwrapper:ro
    entrypoint: /entrypointwrapper
    restart: always
    healthcheck:
      test:
        [
          "CMD",
          "curl",
          "--fail",
          "http://localhost:${TESTTHREDDS_INTERNAL_PORT}/${TESTTHREDDS_CONTEXT_ROOT}/catalog.html",
        ]

volumes:
  testthredds_persistence: {}
  testwps_outputs: {}
  testdatasets:
    driver_opts:
      device: /data/testdatasets
