[server]
outputurl = https://${BIRDHOUSE_FQDN_PUBLIC}/wpsoutputs/flyingpigeon
outputpath = /data/wpsoutputs/flyingpigeon
maxsingleinputsize = 2097152000.0

[logging]
level = INFO
database=postgresql://${BIRDHOUSE_POSTGRES_USERNAME}:${BIRDHOUSE_POSTGRES_PASSWORD}@postgres/flyingpigeon

${EXTRA_PYWPS_CONFIG}
