broker_url = "mongodb://${COWBIRD_MONGODB_HOST}:${COWBIRD_MONGODB_PORT}/cowbird-jobs"
result_backend = "mongodb://${COWBIRD_MONGODB_HOST}:${COWBIRD_MONGODB_PORT}"
mongodb_backend_settings = {
    "database": "cowbird-jobs",
    "taskmeta_collection": "celery_tasks",
}
result_persistent = False
