services:
  raven:
    image: ${RAVEN_IMAGE}
    container_name: raven
    environment:
      PYWPS_CFG: /wps.cfg
      GEO_URL: "${RAVEN_GEO_URL}"
    volumes:
      - ./components/raven/wps.cfg:/wps.cfg
      - /tmp
    restart: always
    healthcheck:
      test:
        [
          "CMD",
          "wget",
          "-qO-",
          "http://localhost:9099/wps?service=WPS&request=GetCapabilities",
        ]
      interval: 60s
      timeout: 5s
      retries: 3
      start_period: 30s
      start_interval: 5s
