providers:
  jupyterhub:
    # below URL is only used to fill in the required location in Magpie
    # actual auth validation is performed with Twitcher 'verify' endpoint without accessing this proxied URL
    url: http://proxy:80
    title: Jupyter
    public: true
    c4i: false
    type: api
    sync_type: api
