config/magpie/config.yml
config/weaver/data_sources.yml
config/weaver/request_options.yml
config/weaver/wps_processes.yml
config/weaver/weaver.ini
config/proxy/conf.extra-service.d/weaver.conf
config/canarie-api/canarie_api_monitoring.py
