services:
  catalog:
    image: ${CATALOG_DOCKER}:${CATALOG_VERSION}
    container_name: catalog
    ports:
      - "8086:80"
    volumes:
      - ./deprecated-components/catalog/catalog.cfg:/home/catalog.cfg
      - wps_outputs:/var/www/html/wps_results
    depends_on:
      - postgres
    restart: always
