permissions:
  - service: stac
    resource: /stac
    permission: read
    group: anonymous
    action: create

  # search can be performed by GET query-string or POST JSON search body
  # in both cases, nothing is 'written' or 'created' unlike most common POST requests
  # it is sensible to enable it, since 'pystac_client.Client.open' uses POST by default
  - service: stac
    resource: /stac/search
    permission: write-match
    group: anonymous
    action: create

  - service: stac
    resource: /stac
    permission: write
    group: stac-admin
    action: create
