services:
  malleefowl:
    image: pavics/malleefowl:${MALLEEFOWL_VERSION}
    container_name: malleefowl
    environment:
      HOSTNAME: $HOSTNAME
      BIRDHOUSE_FQDN_PUBLIC: $BIRDHOUSE_FQDN_PUBLIC
      HTTP_PORT: 8091
      HTTPS_PORT: 28091
      OUTPUT_PORT: 38091
    ports:
      - "8091:8091"
      - "28091:28091"
      - "38091:38091"
      - "48091:9001"
    volumes:
      - ${BIRDHOUSE_DATA_PERSIST_ROOT}/datasets:/data
      - ./deprecated-components/malleefowl/custom.cfg:/opt/birdhouse/src/malleefowl/custom.cfg
    depends_on:
      - postgres
    restart: always
