magpie.ini
permissions.cfg
providers.cfg
magpie_canarie_api_monitoring.py
postgres-credentials.env
docker-entrypoint-initdb.d/create-db.sql
config/**/*
!config/**/
!config/**/*.template
!config/*/docker-compose-extra.yml
