version: '3.4'

services:
  cowbird:
    environment:
      JUPYTERHUB_USER_DATA_DIR: ${JUPYTERHUB_USER_DATA_DIR}
    volumes:
      - ${JUPYTERHUB_USER_DATA_DIR}:${JUPYTERHUB_USER_DATA_DIR}
  cowbird-worker:
    environment:
      JUPYTERHUB_USER_DATA_DIR: ${JUPYTERHUB_USER_DATA_DIR}
    volumes:
      - ${JUPYTERHUB_USER_DATA_DIR}:${JUPYTERHUB_USER_DATA_DIR}
  jupyterhub:
    environment:
      WORKSPACE_DIR: ${DATA_PERSIST_ROOT}/${USER_WORKSPACES}
    volumes:
      - "${DATA_PERSIST_ROOT}/${USER_WORKSPACES}:${DATA_PERSIST_ROOT}/${USER_WORKSPACES}"
