{
    "name": "weaver",
    "url": "https://${PAVICS_FQDN_PUBLIC}/${WEAVER_MANAGER_NAME}",
    "type": ["ogc-api"],
    "documentation": "https://pavics-weaver.readthedocs.io",
    "description": "An OGC-API flavored Execution Management Service"
}
