
x-logging:
  &default-logging
  driver: "json-file"
  options:
    max-size: "50m"
    max-file: "10"

services:
  canarie-api:
    image: ${CANARIE_IMAGE}
    container_name: canarie-api
    volumes:
      - canarie-data:/data/
      - ./components/canarie-api/docker_configuration.py:/config/docker_configuration.py:ro
      - ./components/canarie-api/entrypoint:/entrypoint:ro
    environment:
      CANARIE_API_CONFIG_FN: /config/docker_configuration.py
      CANARIE_MONITORING_EXTRA_CONF_DIR: ${CANARIE_MONITORING_EXTRA_CONF_DIR}
    restart: always
    entrypoint: /entrypoint
    logging: *default-logging
    healthcheck:
      test: ["CMD", "curl", "--fail", "http://localhost:2000"]
      interval: 60s
      timeout: 5s
      retries: 3
      start_period: 30s
      start_interval: 5s

  canarie-api-cron:
    image: ${CANARIE_IMAGE}
    container_name: canarie-api-cron
    depends_on:
      - canarie-api
    # The volumes and environment should be the same as the canarie-api container except for the proxy-logs volume
    volumes:
      - canarie-data:/data/
      - ./components/canarie-api/docker_configuration.py:/config/docker_configuration.py:ro
      - ./components/canarie-api/entrypoint-cron:/entrypoint:ro
      - proxy-logs:/logs/:ro  # aligns with the DATABASE["access_log"] value in docker_configuration.py.template
    environment:
      CANARIE_API_CONFIG_FN: /config/docker_configuration.py
      CANARIE_MONITORING_EXTRA_CONF_DIR: ${CANARIE_MONITORING_EXTRA_CONF_DIR}
    restart: always
    entrypoint: /entrypoint
    logging: *default-logging

# Note: proxy-logs volume is defined in the proxy-logs-volume component
volumes:
  canarie-data:
