version: "3.4"

services:
  magpie:
    volumes:
      - ./components/stac/config/magpie/config.yml:${MAGPIE_PROVIDERS_CONFIG_PATH}/stac.yml:ro
      - ./components/stac/config/magpie/config.yml:${MAGPIE_PERMISSIONS_CONFIG_PATH}/stac.yml:ro
