services:
  solr:
    image: ${SOLR_DOCKER}:${SOLR_VERSION}
    container_name: solr
    ports:
      - "8983:8983"
      - "48983:9001"
    volumes:
      - ${BIRDHOUSE_DATA_PERSIST_ROOT}/solr:/data
    restart: always
