permissions:
  - service: flyingpigeon
    permission: getcapabilities
    group: ${MAGPIE_DEFAULT_PERMISSION_GROUP}
    action: create

  - service: flyingpigeon
    permission: describeprocess
    group: ${MAGPIE_DEFAULT_PERMISSION_GROUP}
    action: create

  - service: flyingpigeon
    permission: execute
    group: ${MAGPIE_DEFAULT_PERMISSION_GROUP}
    action: create
