
    location /cowbird {
        proxy_pass https://${PAVICS_FQDN_PUBLIC}${TWITCHER_PROTECTED_PATH}/cowbird;
        proxy_set_header Host $host;
        proxy_buffering off;
        include /etc/nginx/conf.d/cors.include;
    }
