{
    "name": "flyingpigeon",
    "url": "https://${BIRDHOUSE_FQDN_PUBLIC}/weaver/providers/flyingpigeon",
    "type": "wps",
    "documentation": "https://flyingpigeon.readthedocs.io",
    "description": "WPS for climate model data, indices and extreme events."
}
