services:
  proxy:
    volumes:
      # note: purposely map to '/canarie' location to batch the proxy service location
      - ./components/canarie-api/service-config.json:/static/services/canarie.json:ro
      - ./components/canarie-api/config/proxy/conf.extra-service.d:/etc/nginx/conf.extra-service.d/canarie-api:ro
