permissions:
  - service: ${WEAVER_MANAGER_NAME}
    resource: /providers/raven
    permission: read
    group: ${MAGPIE_DEFAULT_PERMISSION_GROUP}
    action: create
  # administrators need access to getcapabilities in order to register this bird as a wps provider
  - service: raven
    permission: getcapabilities
    group: administrators
    action: create