config/cowbird/celeryconfig.py
config/cowbird/config.yml
config/cowbird/cowbird.ini
config/magpie/config.yml
config/proxy/conf.extra-service.d/cowbird.conf

# Old paths. Keep these so that old config files remain uncommittable after updates.
conf.extra-service.d/cowbird.conf
