version: "3.4"

x-logging:
  &default-logging
  driver: "json-file"
  options:
    max-size: "50m"
    max-file: "10"

services:
  cowbird:
    image: pavics/cowbird:${COWBIRD_VERSION}-webservice
    container_name: cowbird
    environment:
      HOSTNAME: $HOSTNAME
      FORWARDED_ALLOW_IPS: "*"
      # SSL verification should be enabled for secured connections
      COWBIRD_SSL_VERIFY: "true"
      COWBIRD_CONFIG_PATH: /opt/local/src/cowbird/config/cowbird.yml
      WORKSPACE_DIR: /${USER_WORKSPACES}
    links:
      - "${COWBIRD_MONGODB_SERVICE}"
    networks:
      - default
      - "${COWBIRD_MONGODB_SERVICE}"
    depends_on:
      - "${COWBIRD_MONGODB_SERVICE}"
    volumes:
      - ./components/cowbird/config/cowbird/config.yml:/opt/local/src/cowbird/config/cowbird.yml
      - ./components/cowbird/config/cowbird/cowbird.ini:/opt/local/src/cowbird/config/cowbird.ini
      - "${DATA_PERSIST_ROOT}/${USER_WORKSPACES}:/${USER_WORKSPACES}"
    restart: always
    logging: *default-logging

  cowbird-worker:
    image: pavics/cowbird:${COWBIRD_VERSION}-worker
    container_name: cowbird-worker
    environment:
      COWBIRD_SSL_VERIFY: "true"
      COWBIRD_CONFIG_PATH: /opt/local/src/cowbird/config/cowbird.yml
      WORKSPACE_DIR: /${USER_WORKSPACES}
    links:
      - "${COWBIRD_MONGODB_SERVICE}"
    networks:
      - default
      - "${COWBIRD_MONGODB_SERVICE}"
    depends_on:
      - "${COWBIRD_MONGODB_SERVICE}"
    volumes:
      - ./components/cowbird/config/cowbird/config.yml:/opt/local/src/cowbird/config/cowbird.yml
      - ./components/cowbird/config/cowbird/cowbird.ini:/opt/local/src/cowbird/config/cowbird.ini
      # note:
      #   file 'celeryconfig' must be located directly under the application path and be named exactly like this,
      #   otherwise 'pyramid_celery' cannot find it (see https://github.com/sontek/pyramid_celery/pull/89)
      - ./components/cowbird/config/cowbird/celeryconfig.py:/opt/local/src/cowbird/celeryconfig.py
      - "${DATA_PERSIST_ROOT}/${USER_WORKSPACES}:/${USER_WORKSPACES}"
    restart: always
    logging: *default-logging
