version: "3.4"

x-logging:
  &default-logging
  driver: "json-file"
  options:
    max-size: "50m"
    max-file: "10"

services:
  cowbird:
    image: pavics/cowbird:${COWBIRD_VERSION}-webservice
    container_name: cowbird
    environment:
      HOSTNAME: $HOSTNAME
      FORWARDED_ALLOW_IPS: "*"
      # SSL verification should be enabled for secured connections
      COWBIRD_SSL_VERIFY: "true"
      COWBIRD_CONFIG_PATH: /opt/local/src/cowbird/config/cowbird.yml
      COWBIRD_INI_FILE_PATH: /opt/local/src/cowbird/config/cowbird.ini
      COWBIRD_FILESYSTEM_USER_UID: ${USER_WORKSPACE_UID}
      COWBIRD_FILESYSTEM_USER_GID: ${USER_WORKSPACE_GID}
      # root user
      COWBIRD_FILESYSTEM_ADMIN_UID: 0
      COWBIRD_FILESYSTEM_ADMIN_GID: 0
      PUBLIC_WORKSPACE_WPS_OUTPUTS_SUBDIR: ${PUBLIC_WORKSPACE_WPS_OUTPUTS_SUBDIR}
      SECURE_DATA_PROXY_NAME: ${SECURE_DATA_PROXY_NAME}
      # Note that WPS_OUTPUTS_DIR and WORKSPACE_DIR must both point to paths from the same volume.
      # This is to allow the creation of hardlinks between the wpsoutputs and the user workspace.
      # By default, both are mounted under the "${DATA_PERSIST_SHARED_ROOT}" volume.
      WPS_OUTPUTS_DIR: ${WPS_OUTPUTS_DIR}
      WORKSPACE_DIR: ${DATA_PERSIST_SHARED_ROOT}/${USER_WORKSPACES}
    links:
      - cowbird-mongodb
    networks:
      - default
      - cowbird-mongodb
    depends_on:
      - cowbird-mongodb
    volumes:
      - ./components/cowbird/config/cowbird/config.yml:/opt/local/src/cowbird/config/cowbird.yml
      - ./components/cowbird/config/cowbird/cowbird.ini:/opt/local/src/cowbird/config/cowbird.ini
      # even if not running tasks here, they must be registered to send them off to the right place!
      - ./components/cowbird/config/cowbird/celeryconfig.py:/opt/local/src/cowbird/config/celeryconfig.py
      - "${DATA_PERSIST_SHARED_ROOT}:${DATA_PERSIST_SHARED_ROOT}"
    restart: always
    logging: *default-logging

  cowbird-worker:
    image: pavics/cowbird:${COWBIRD_VERSION}-worker
    container_name: cowbird-worker
    environment:
      COWBIRD_SSL_VERIFY: "true"
      COWBIRD_CONFIG_PATH: /opt/local/src/cowbird/config/cowbird.yml
      COWBIRD_INI_FILE_PATH: /opt/local/src/cowbird/config/cowbird.ini
      COWBIRD_FILESYSTEM_USER_UID: ${USER_WORKSPACE_UID}
      COWBIRD_FILESYSTEM_USER_GID: ${USER_WORKSPACE_GID}
      # root user
      COWBIRD_FILESYSTEM_ADMIN_UID: 0
      COWBIRD_FILESYSTEM_ADMIN_GID: 0
      WORKSPACE_DIR: ${DATA_PERSIST_SHARED_ROOT}/${USER_WORKSPACES}
    links:
      - cowbird-mongodb
    networks:
      - default
      - cowbird-mongodb
    depends_on:
      - cowbird-mongodb
      - cowbird  # if not started first, sometimes celery misbehaves and will not pick jobs in queue
    volumes:
      - ./components/cowbird/config/cowbird/config.yml:/opt/local/src/cowbird/config/cowbird.yml
      - ./components/cowbird/config/cowbird/cowbird.ini:/opt/local/src/cowbird/config/cowbird.ini
      - ./components/cowbird/config/cowbird/celeryconfig.py:/opt/local/src/cowbird/config/celeryconfig.py
      - "${DATA_PERSIST_SHARED_ROOT}/${USER_WORKSPACES}:${DATA_PERSIST_SHARED_ROOT}/${USER_WORKSPACES}"
    restart: always
    logging: *default-logging

  # Dedicated database for Cowbird, since other 'mongodb' image does not employ the same version.
  cowbird-mongodb:
    image: mongo:${COWBIRD_MONGODB_VERSION}
    container_name: cowbird-mongodb
    networks:
      - cowbird-mongodb
    volumes:
      - ${COWBIRD_MONGODB_DATA_DIR}:/data/db
    restart: always
    logging: *default-logging

networks:
  cowbird-mongodb: {}
