PATH="/usr/local/bin:/usr/bin:/bin:/usr/local/sbin:/usr/sbin:/sbin"

# check if should deploy ${CRON_FREQUENCY_TXT}
${CRON_SCHEDULE} ${BIRDHOUSE_REPO_CHECKOUT_OWNER} /usr/local/sbin/triggerdeploy.sh ${BIRDHOUSE_REPO_CHECKOUT_PATH}/birdhouse >> ${BIRDHOUSE_LOG_DIR}/autodeploy.log 2>&1
