PATH="/usr/local/bin:/usr/bin:/bin:/usr/local/sbin:/usr/sbin:/sbin"

# check if should deploy ${CRON_FREQUENCY_TXT}
${CRON_SCHEDULE} ${OWNER_PAVICS_CHECKOUT} /usr/local/sbin/triggerdeploy.sh ${PATH_TO_PAVICS_CHECKOUT}/birdhouse >> /var/log/PAVICS/autodeploy.log 2>&1
