/var/log/PAVICS/*.log {
    # keep at least 6 weeks' worth of logs (do not rotate
    # until the file is > 500k)
    rotate 6
    weekly
    missingok
    minsize 500k
    copytruncate
    compress
    dateext
}

# Can not use 'include' directive since this logrotate job is spawned new each
# time.  It is not a continuously running service.
