POSTGRES_USER=${POSTGRES_MAGPIE_USERNAME}
POSTGRES_PASSWORD=${POSTGRES_MAGPIE_PASSWORD}
POSTGRES_DB=${MAGPIE_DB_NAME}
MAGPIE_POSTGRES_USER=${POSTGRES_MAGPIE_USERNAME}
MAGPIE_POSTGRES_PASSWORD=${POSTGRES_MAGPIE_PASSWORD}
MAGPIE_POSTGRES_DB=${MAGPIE_DB_NAME}
MAGPIE_POSTGRES_HOST=postgres-magpie
