version: "3.4"

services:
  # extend proxy with endpoint and config for Cowbird API access
  proxy:
    volumes:
      - ./components/cowbird/config/proxy/conf.extra-service.d:/etc/nginx/conf.extra-service.d/cowbird:ro
    links:
      - cowbird
