
x-logging:
  &default-logging
  driver: "json-file"
  options:
    max-size: "50m"
    max-file: "10"

services:
  stac:
    container_name: stac
    image: ${STAC_IMAGE}
    depends_on:
      - stac-db
      - stac-migration
    environment:
      - POSTGRES_USER=${STAC_POSTGRES_USER}
      - POSTGRES_PASS=${STAC_POSTGRES_PASSWORD}
      - POSTGRES_DBNAME=postgis
      - POSTGRES_HOST_READER=stac-db
      - POSTGRES_HOST_WRITER=stac-db
      - POSTGRES_PORT=5432
      - ROUTER_PREFIX=/stac
      - OPENAPI_URL=/stac${STAC_OPENAPI_SPEC_PATH}
      - DOCS_URL=/stac${STAC_OPENAPI_DOCS_PATH}
    logging: *default-logging
    restart: always
    healthcheck:
      test: ["CMD", "python", "-c", "import urllib.request; urllib.request.urlopen('http://localhost:8000/stac')"]
      interval: 60s
      timeout: 5s
      retries: 3
      start_period: 30s
      start_interval: 5s

  stac-db:
    container_name: stac-db
    image: ${STAC_DB_IMAGE}
    environment:
      - POSTGRES_USER=${STAC_POSTGRES_USER}
      - POSTGRES_PASSWORD=${STAC_POSTGRES_PASSWORD}
      - POSTGRES_DB=postgis
      - PGUSER=${STAC_PGUSER}
      - PGPASSWORD=${STAC_PGPASSWORD}
      - PGHOST=localhost
      - PGDATABASE=postgis
    volumes:
      - stac-db:/var/lib/postgresql/data
    logging: *default-logging
    restart: always
    healthcheck:
      test: ["CMD-SHELL", "pg_isready"]
      interval: 10s
      timeout: 5s
      retries: 3
      start_period: 30s
      start_interval: 5s

  stac-migration:
    container_name: stac-migration
    image: ${STAC_MIGRATION_IMAGE}
    environment:
      - POSTGRES_USER=${STAC_POSTGRES_USER}
      - POSTGRES_PASSWORD=${STAC_POSTGRES_PASSWORD}
      - POSTGRES_DB=postgis
      - PGUSER=${STAC_PGUSER}
      - PGPASSWORD=${STAC_PGPASSWORD}
      - PGHOST=stac-db
      - PGDATABASE=postgis
    links:
      - stac-db
    volumes:
      - stac-db:/var/lib/postgresql/data
    logging: *default-logging
    restart: no
    command: pypgstac migrate --debug --toversion ${STAC_DB_VERSION}

volumes:
  stac-db:
