---
${BIRDHOUSE_SCHEDULER_NOTEBOOKDEPLOY_JOB}
${BIRDHOUSE_SCHEDULER_AUTODEPLOY_JOB}
${BIRDHOUSE_SCHEDULER_LOGROTATE_JOB}
${BIRDHOUSE_SCHEDULER_RENEW_SSL_CERT_JOB}
${BIRDHOUSE_SCHEDULER_DEPLOY_RAVEN_TEST_DATA}
${BIRDHOUSE_SCHEDULER_DEPLOY_XCLIM_TEST_DATA}

${BIRDHOUSE_AUTODEPLOY_EXTRA_SCHEDULER_JOBS}
