version: "3.4"

services:
  scheduler:
    image: pavics/crontab:0.6-rc2
    container_name: scheduler
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - ./components/scheduler/config.yml:/opt/crontab/config.yml:ro
    environment:
      COMPOSE_DIR: ${PWD}
      AUTODEPLOY_DEPLOY_KEY_ROOT_DIR: ${AUTODEPLOY_DEPLOY_KEY_ROOT_DIR}
    restart: always

# vi: tabstop=8 expandtab shiftwidth=2 softtabstop=2
