[buildout]
extends = profiles/docker.cfg

[pywps]
enable-https = true
https-port = 443
https-output-port = 443
database=postgresql://${POSTGRES_PAVICS_USERNAME}:${POSTGRES_PAVICS_PASSWORD}@postgres/hummingbird
