version: "3.4"

services:
  # https://github.com/google/cadvisor/blob/master/docs/running.md
  # Collect per container metrics.
  cadvisor:
    image: gcr.io/google-containers/cadvisor:v0.36.0
    container_name: cadvisor
    volumes:
      - /:/rootfs:ro
      - /var/run:/var/run:ro
      - /sys:/sys:ro
      - /var/lib/docker:/var/lib/docker:ro
    devices:
      - /dev/kmsg
    restart: always

  # https://github.com/prometheus/node_exporter
  # Collect system-wide metrics.
  node-exporter:
    image: quay.io/prometheus/node-exporter:v1.0.0
    container_name: node-exporter
    volumes:
      - /:/host:ro,rslave
    network_mode: "host"
    pid: "host"
    command: --path.rootfs=/host
    restart: always

  # https://prometheus.io/docs/prometheus/latest/installation
  # Monitor and store collected metrics.
  prometheus:
    image: prom/prometheus:v2.19.0
    container_name: prometheus
    volumes:
      - ./components/monitoring/prometheus.yml:/etc/prometheus/prometheus.yml:ro
      - ./components/monitoring/prometheus.rules:/etc/prometheus/prometheus.rules:ro
      - prometheus_persistence:/prometheus:rw
    command:
      # restore original CMD from image
      - --config.file=/etc/prometheus/prometheus.yml
      - --storage.tsdb.path=/prometheus
      - --web.console.libraries=/usr/share/prometheus/console_libraries
      - --web.console.templates=/usr/share/prometheus/consoles
      # https://prometheus.io/docs/prometheus/latest/storage/
      - --storage.tsdb.retention.time=90d
      # wrong default was http://container-hash:9090/
      - --web.external-url=https://${PAVICS_FQDN_PUBLIC}/prometheus/
    restart: always

  # https://grafana.com/docs/grafana/latest/installation/docker/
  # https://grafana.com/docs/grafana/latest/installation/configure-docker/
  # Visualize metrics from Prometheus
  grafana:
    image: grafana/grafana:7.0.3
    container_name: grafana
    volumes:
      - ./components/monitoring/grafana_datasources.yml:/etc/grafana/provisioning/datasources/grafana_datasources.yml:ro
      - ./components/monitoring/grafana_dashboards.yml:/etc/grafana/provisioning/dashboards/grafana_dashboards.yml:ro
      - ./components/monitoring/grafana_dashboards:/etc/grafana/dashboards:ro
      - grafana_persistence:/var/lib/grafana:rw
    environment:
      GF_SECURITY_ADMIN_PASSWORD: ${GRAFANA_ADMIN_PASSWORD}
      GF_SERVER_ROOT_URL: https://${PAVICS_FQDN_PUBLIC}/grafana
      GF_SERVER_SERVE_FROM_SUB_PATH: 'true'
      GF_SERVER_DOMAIN: ${PAVICS_FQDN_PUBLIC}
    restart: always

  # https://github.com/prometheus/alertmanager
  # https://prometheus.io/docs/alerting/latest/overview/
  # Handle alerts: deduplicate, group, route, silence, inhibit
  alertmanager:
    image: prom/alertmanager:v0.21.0
    container_name: alertmanager
    volumes:
      - ./components/monitoring/alertmanager.yml:/etc/alertmanager/alertmanager.yml:ro
      - ./components/monitoring/alertmanager.tmpl:/etc/alertmanager/template/default.tmpl:ro
      - alertmanager_persistence:/alertmanager:rw
    command:
      # restore original CMD from image
      - --config.file=/etc/alertmanager/alertmanager.yml
      - --storage.path=/alertmanager
      # enable debug logging
      - --log.level=debug
      # wrong default was http://container-hash:9093/
      - --web.external-url=https://${PAVICS_FQDN_PUBLIC}/alertmanager
    restart: always

volumes:
  prometheus_persistence:
    external:
      name: prometheus_persistence
  grafana_persistence:
    external:
      name: grafana_persistence
  alertmanager_persistence:
    external:
      name: alertmanager_persistence

# vi: tabstop=8 expandtab shiftwidth=2 softtabstop=2
