# https://grafana.com/docs/grafana/latest/administration/provisioning/#dashboards
apiVersion: 1

providers:
 - name: 'default'
   folder: '${GRAFANA_DEFAULT_PROVIDER_FOLDER}'
   folderUid: '${GRAFANA_DEFAULT_PROVIDER_FOLDER_UUID}'
   disableDeletion: false
   type: file
   editable: false
   allowUiUpdates: false
   options:
     path: "/etc/grafana/dashboards"
