# https://grafana.com/docs/grafana/latest/administration/provisioning/#example-datasource-config-file
apiVersion: 1

datasources:
  - name: Prometheus
    type: prometheus
    access: proxy
    uid: ${GRAFANA_PROMETHEUS_DATASOURCE_UUID}
    url: http://prometheus:9090/prometheus
    isDefault: true
    editable: false
