version: "3.4"
services:
  magpie:
    volumes:
    - ./deprecated-components/flyingpigeon/config/magpie/providers.cfg:${MAGPIE_PROVIDERS_CONFIG_PATH}/flyingpigeon-providers.cfg:ro
    - ./deprecated-components/flyingpigeon/config/magpie/permissions.cfg:${MAGPIE_PERMISSIONS_CONFIG_PATH}/flyingpigeon-permissions.cfg:ro
