- name: autodeploy
  comment: Auto-deploy entire Birdhouse platform
  schedule: '${BIRDHOUSE_AUTODEPLOY_PLATFORM_FREQUENCY}'
  command: '${COMPOSE_DIR}/deployment/triggerdeploy.sh ${COMPOSE_DIR}'
  dockerargs: >-
    --rm --name autodeploy${BIRDHOUSE_AUTODEPLOY_EXTRA_REPOS_AS_DOCKER_VOLUMES}
    --volume /var/run/docker.sock:/var/run/docker.sock:ro
    --volume ${BIRDHOUSE_LOG_DIR}:${BIRDHOUSE_LOG_DIR}:rw
    --volume ${COMPOSE_DIR}/..:${COMPOSE_DIR}/..:rw
    --volume ${BIRDHOUSE_LOCAL_ENV_REAL_PATH}:${BIRDHOUSE_LOCAL_ENV_REAL_PATH}:rw
    --volume ${BIRDHOUSE_AUTODEPLOY_DEPLOY_KEY_ROOT_DIR}:${BIRDHOUSE_AUTODEPLOY_DEPLOY_KEY_ROOT_DIR}:ro
    --volume ${BIRDHOUSE_SSL_CERTIFICATE}:${BIRDHOUSE_SSL_CERTIFICATE}:ro
    --env COMPOSE_DIR=${COMPOSE_DIR}
    --env BIRDHOUSE_AUTODEPLOY_DEPLOY_KEY_ROOT_DIR=${BIRDHOUSE_AUTODEPLOY_DEPLOY_KEY_ROOT_DIR}
    --env CODE_OWNERSHIP=${BIRDHOUSE_AUTODEPLOY_CODE_OWNERSHIP}
    --env BIRDHOUSE_LOCAL_ENV=${BIRDHOUSE_LOCAL_ENV}
    --env BIRDHOUSE_COMPOSE=${BIRDHOUSE_COMPOSE}
    --env BIRDHOUSE_LOG_DIR=${BIRDHOUSE_LOG_DIR}
    --env AUTODEPLOY_SILENT=true
    --env AUTODEPLOY_GIT_GLOBAL_SAFE_DIRECTORY=1
    ${BIRDHOUSE_AUTODEPLOY_JUPYTERHUB_ARGS}${AUTODEPLOY_PLATFORM_EXTRA_DOCKER_ARGS}
  image: '${SCHEDULER_JOB_AUTODEPLOY_IMAGE}'
