version: "3.4"
services:
  catalog:
    healthcheck:
      test:
        [
          "CMD",
          "python",
          "-c",
          "import requests; \
           assert requests.get('http://localhost?service=WPS&request=GetCapabilities').status_code == 200",
        ]
      interval: 60s
      timeout: 5s
      retries: 2
