wps.cfg
config/magpie/providers.cfg
config/canarie-api/canarie_api_monitoring.py

# Old paths. Keep these so that old config files remain uncommittable after updates.
config/proxy/canarie_api_monitoring.py
