permissions:
  - service: catalog
    permission: getcapabilities
    user: authtest
    action: create

  - service: catalog
    permission: describeprocess
    user: authtest
    action: create

  - service: catalog
    permission: execute
    user: authtest
    action: create


  - service: finch
    permission: getcapabilities
    user: authtest
    action: create

  - service: finch
    permission: describeprocess
    user: authtest
    action: create

  - service: finch
    permission: execute
    user: authtest
    action: create


  - service: flyingpigeon
    permission: getcapabilities
    user: authtest
    action: create

  - service: flyingpigeon
    permission: describeprocess
    user: authtest
    action: create

  - service: flyingpigeon
    permission: execute
    user: authtest
    action: create


  - service: hummingbird
    permission: getcapabilities
    user: authtest
    action: create

  - service: hummingbird
    permission: describeprocess
    user: authtest
    action: create

  - service: hummingbird
    permission: execute
    user: authtest
    action: create


  - service: lb_flyingpigeon
    permission: getcapabilities
    user: authtest
    action: create

  - service: lb_flyingpigeon
    permission: describeprocess
    user: authtest
    action: create

  - service: lb_flyingpigeon
    permission: execute
    user: authtest
    action: create


  - service: malleefowl
    permission: getcapabilities
    user: authtest
    action: create

  - service: malleefowl
    permission: describeprocess
    user: authtest
    action: create

  - service: malleefowl
    permission: execute
    user: authtest
    action: create


  - service: raven
    permission: getcapabilities
    user: authtest
    action: create

  - service: raven
    permission: describeprocess
    user: authtest
    action: create

  - service: raven
    permission: execute
    user: authtest
    action: create


  - service: thredds
    permission: read
    user: authtest
    action: create
