[buildout]
extends=profiles/docker.cfg
parts += pytest 

[settings]
esgf-search-url = http://136.172.30.96/esg-search
phoenix-password = ${PHOENIX_PASSWORD_HASH}
phoenix-solr = true
phoenix-wms = true
phoenix-require-csrf = false
