- name: backup_cowbird
  comment: Backup stateful data for cowbird service
  schedule: '${SCHEDULER_JOB_BACKUP_FREQUENCY}'
  command: "${SCHEDULER_JOB_BIRDHOUSE_EXE_LOC} compose run --rm -v ${SCHEDULER_JOB_BACKUP_VOLUME}:/scheduler-backup cowbird-mongodb sh -c 'mongodump --host=cowbird-mongodb --out=/scheduler-backup/cowbird/'"
  dockerargs: >-
    --name backup_cowbird ${SCHEDULER_JOB_BACKUP_COMMON_ARGS}
  image: '${SCHEDULER_JOB_BACKUP_IMAGE}'
