version: "3.4"
services:
  emu:
    image: ${EMU_IMAGE}
    container_name: emu
    environment:
      - PYWPS_CFG=/wps.cfg
    volumes:
      - ./optional-components/emu/wps.cfg:/wps.cfg
      - ${EMU_WPS_OUTPUTS_VOL}:/data/wpsoutputs
      - /tmp
    restart: always
