permissions:
  - service: ${EMU_NAME}
    permission: getcapabilities
    group: anonymous
    action: create

  - service: ${EMU_NAME}
    permission: describeprocess
    group: anonymous
    action: create

  - service: ${EMU_NAME}
    permission: execute
    group: anonymous
    action: create
