services:
  frontend:
    image: pavics/pavics-frontend:1.0.5
    container_name: frontend
    ports:
      - "3000:3000"
    env_file:
      - ./deprecated-components/frontend/frontend.env
    restart: always
