PAVICS_FRONTEND_IP=${BIRDHOUSE_FQDN}
PAVICS_FRONTEND_PORT=443
PAVICS_FRONTEND_PROTO=https
BIRDHOUSE_HOST=${BIRDHOUSE_FQDN}
NODE_TLS_REJECT_UNAUTHORIZED=0
NCWMS_HOST=${BIRDHOUSE_PROXY_SCHEME}://${BIRDHOUSE_FQDN}${TWITCHER_PROTECTED_PATH}/ncWMS2/wms
CATALOG_HOST=${BIRDHOUSE_PROXY_SCHEME}://${BIRDHOUSE_FQDN}${TWITCHER_PROTECTED_PATH}/catalog/pywps
MALLEEFOWL_HOST=${BIRDHOUSE_PROXY_SCHEME}://${BIRDHOUSE_FQDN}${TWITCHER_PROTECTED_PATH}/malleefowl/wps
