PAVICS_FRONTEND_IP=${PAVICS_FQDN}
PAVICS_FRONTEND_PORT=443
PAVICS_FRONTEND_PROTO=https
BIRDHOUSE_HOST=${PAVICS_FQDN}
NODE_TLS_REJECT_UNAUTHORIZED=0
NCWMS_HOST=https://${PAVICS_FQDN}${TWITCHER_PROTECTED_PATH}/ncWMS2/wms
CATALOG_HOST=https://${PAVICS_FQDN}${TWITCHER_PROTECTED_PATH}/catalog/pywps
MALLEEFOWL_HOST=https://${PAVICS_FQDN}${TWITCHER_PROTECTED_PATH}/malleefowl/wps
