version: "3.4"
services:
  magpie:
    volumes:
      - ./optional-components/all-public-access/config/flyingpigeon/permissions.cfg:${MAGPIE_PERMISSIONS_CONFIG_PATH}/all-public-access-flyingpigeon-permissions.cfg:ro
