groups:
    - name: longterm-metrics
      interval: ${PROMETHEUS_LONGTERM_STORE_INTERVAL}
      rules:
        - record: cpu_instance:cpu_load_irate:avg${PROMETHEUS_LONGTERM_STORE_INTERVAL}
          expr: avg by(cpu, instance) (irate(node_cpu_seconds_total{mode!="idle"}[${PROMETHEUS_LONGTERM_STORE_INTERVAL}]))
          labels:
            group: longterm-metrics
        - record: instance:network_bytes_received_irate:sum${PROMETHEUS_LONGTERM_STORE_INTERVAL}
          expr: sum by (instance) (irate(node_network_receive_bytes_total[${PROMETHEUS_LONGTERM_STORE_INTERVAL}]))
          labels:
            group: longterm-metrics
        - record: instance:network_bytes_sent_irate:sum${PROMETHEUS_LONGTERM_STORE_INTERVAL}
          expr: sum by (instance) (irate(node_network_transmit_bytes_total[${PROMETHEUS_LONGTERM_STORE_INTERVAL}]))
          labels:
            group: longterm-metrics
