name: Greetings

on: [pull_request, issues]

jobs:
  greeting:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/first-interaction@v1
      with:
        repo-token: ${{ secrets.GITHUB_TOKEN }}
        issue-message: >
          Thanks for submitting an issue.

          Please make sure to provide enough details for us to be able to replicate your issue or understand your question.
        pr-message: >
          Thanks for submitting a PR.

          Make sure you have looked at [CONTRIBUTING](https://github.com/bird-house/birdhouse-deploy/blob/master/CONTRIBUTING.rst) guidelines.
